# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/.vinext/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
dev*.log
preview.log
prod.log
prod2.log
prod3.log
prod4.log
prod5.log
prod6.log
prod7.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

/dist/
/.wrangler/
/outputs/
/work/
/*.tar.gz
prod8.log
prod9.log
prod10.log
prod11.log
